body {
  margin: 0;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

/* 광고 */
.ad {
  height: 80px;
}

iframe {
  width: 100%;
  height: 100%;
  border-radius: 0;
  margin: 0;
}

/* header */

.header {
  position: relative;
  height: 113px;

  background-color: #fff;
  border-bottom: 1px solid #eee;
}
.header .contents {
  display: flex;
  width: 980px;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 6px 25px 5px;
  background-color: #fff;
  height: 57px;
}

.contents h1 {
  display: inline-flex;
  align-items: flex-end;
  height: 53px;
  margin: 0;
}

.contents h1 img {
  display: block;
  object-fit: contain;
  height: 100%;
  width: auto;
  vertical-align: middle;
}

.contents h1 span {
  font-weight: 300;
  font-size: 16px;
  color: #222;
  letter-spacing: 0.313em;
  line-height: 1.5em;
  vertical-align: baseline;
}

.contents .member-info-wrap {
  display: flex;
  align-items: center;
}

.ad-partner img {
  vertical-align: middle;
}

.member-info-wrap li {
  list-style: none;
  margin-left: 44px;
  margin-top: 2px;
}

.member-info-wrap li a {
  display: block;
  position: relative;
  padding-bottom: 19px;
}

.member-info-wrap li a img {
  width: 36px;
  height: 36px;
}

.member-info-wrap li a span {
  position: absolute;
  bottom: 0;
  left: 50%;
  font-size: 13px;
  color: #666;
  line-height: 1.462em;
  white-space: nowrap;
  transform: translate(-50%, 0);
}

/* 서브 메뉴 */
.nav {
  position: absolute;
  left: 0;
  top: 113px;
  width: 100%;
  padding: 5px 0;
  background-color: #fff;
}
